<div class="header-wrapper">
  <button type="submit" class="btn btn-outline-primary logout-button"
          (click)="logout()"
          [routerLink]="['/home']">Logout</button>
</div>
<div class="container-fluid main-wrapper">
  <section class="container page-wrapper">
    <div class="row">
      <main class="col-lg-12 content-wrapper">
        <app-create-task></app-create-task>
        <div class="container-fluid list-wrapper">
          <app-task-list [tasks]="tasks"></app-task-list>
        </div>
      </main>
    </div>
  </section>
</div>

