@import '../common/css/theme';
@import '../common/css/theme.form';

.main-wrapper {
  min-height: 100vh;
  padding: 90px 0 20px 0;
  font-family: $font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: $bg-color;
  color: $primary-color;
  overflow: hidden;
  box-sizing: border-box;
}

.header-wrapper{
  background: $bg-color;
  display: flex;
  justify-content: flex-end;
}

